html body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.box1{
    width: 100%;
    height: 100vh;
    color: white;
    border-bottom: 5px rgb(66, 66, 66) solid;
}

.bgImg{
    width: 100%;
    height: calc(100vh - 5px);
    filter: brightness(30%);
    position: absolute;
}
.box1b1{
    width: 100%;
}
.box1b1input{
    width: 30%;
    padding: 30px 10px;
    height: 50px;
    font-size: 20px;
    background-color: transparent;
    border: white 2px solid;
    border-radius: 5px;
    color: white;
}
.box2{
    width: 100%;
    background-color: black;
    margin: 0px;
}
.box2a{
    border-bottom: 5px rgb(66, 66, 66) solid;
    padding: 20px 50px;
}
.a_video1{
    position: absolute;
    top: 70px;
    left: 70px;
}
.boxDownload{
    width: 50%;
    height: 80px;
    background-color: black;
    border: 3px rgb(85, 85, 85) solid;
    border-radius: 10px;
    padding: 10px 20px;
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 100px;

}
.box3{
    width: 100%;
    background-color: black;
    margin: 0px;
    color: white; 
    border-bottom: 5px rgb(66, 66, 66) solid;
}
.qBox{
    width: 100%;
    background-color: rgb(39, 39, 39);
    font-size: 25px;
    color: white;
    padding: 20px 50px;
    text-align: left;
    text-decoration: none;
}
.box4{
    width: 100%;
    background-color: black;
    margin: 0px;
    color: rgb(155, 152, 152);
    border-bottom: 5px rgb(66, 66, 66) solid;
    padding: 50px 0px;
    font-size: s;
    font-weight: 500;
}
.footLink{
    color: rgb(155, 152, 152);
    margin: 10px 0px;
}